/* JobsCategory.module.css */

.mainDiv {
    height: 100vh;
    background-image: url('C:\Users\SUNAPAANA\Desktop\new-project\job-portal\src\Styles\796169491973.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 10% 10px 5px 10px;
}
