/* jobs.css */

.parent-div {
  height: 100vh;
  overflow-y: scroll;
}

.job-list {
  margin: 1%;
  padding: 0.7rem;
  background-color: #333; /* Dark background */
  border-radius: 10px; /* Rounded corners */
}

.job-card {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  min-height: 100px;
  align-items: center;
  background-color: #444; /* Darker background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Dark shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
  border-radius: 10px; /* Rounded corners */
}

.job-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Hover shadow */
  transform: scale(1.02); /* Enlarge on hover */
}

.job-name {
  display: flex;
  align-items: center;
}

.job-profile {
  width: 60px;
  height: 60px;
  margin-right: 0.5rem; /* Adjust spacing */
  border-radius: 50%; /* Circular shape */
}

.job-detail {
  padding: 0px 10px;
}

.job-detail > h4 {
  color: #4287f5; /* Light blue color for company name */
  font-size: 1rem;
  text-transform: uppercase;
}

.job-detail > h3 {
  color: #c1c1c1; /* Light gray color for position */
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.job-detail > p {
  color: #ccc; /* Light gray color for details */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.job-posted {
  font-size: 0.8rem;
}

.job-posting {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #4fb075; /* Green color for apply button */
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
}

.job-posting:hover {
  background-color: #3a8b5f; /* Darker green on hover */
}

.category {
  display: flex;
  gap: 22px;
}

.job-background {
  background: #222; /* Very dark background */
  height: 270px;
  clip-path: polygon(100% 0, 100% 81%, 50% 90%, 0 83%, 0 0); /* Slanted background */
}

.job-background .title {
  display: flex;
  align-items: center;
  justify-content: center; /* Align text to the center */
  color: rgb(117, 111, 111);
  font-size: 35px;
  padding: 80px 0px;
}

.job-section {
  display: flex;
  background: #333; /* Dark background */
  max-width: 100%;
}

.jobs-for-you {
  width: 100%;
}

.job-page {
  width: 82%;
}

@media (max-width: 855px) {
  .job-page {
    font-size: 10px;
  }

  .job-detail > h4 {
    font-size: 11px;
  }

  .job-detail > h3 {
    font-size: 15px;
  }

  .category > p {
    font-size: 10px;
    flex-wrap: wrap;
  }
}

.save-button {
  font-size: 22px;
}

.job-button {
  display: flex;
  align-items: center;
  gap: 30px;
}
